<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gtosoft.libvoyager"
      android:versionCode="1"
      android:versionName="1.0">


	<!--  needed for very basic bluetooth stuff.  -->
   	<uses-permission android:name="android.permission.BLUETOOTH" />
   	<!--  Needed to perform a bluetooth discovery -->
   	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
   	<!--  Needed to look up DTC descriptions! -->
	<uses-permission android:name="android.permission.INTERNET" />


    <application android:icon="@drawable/icon" android:label="appname" android:debuggable="true">
        <activity android:name=".libVoyagerActivity"
                  android:label="appname">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 